.button {
	display: inline-block;
	padding: 10px 20px;
	margin: 0;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	background: #000;
	border: 0;
	transition: .6s;
	cursor: pointer;

	&:hover {
		transform: scale(1.1);
	}
}
