// Custom Variables
// $red: #ff5800;
// $color-primary: $red;


// General Variables
$font-family: Arial, sans-serif;
$font-size: 1.6rem; // html has 62.5 % = 10px default for comfortable using of rem units (e.g. 1rem = 10px, 1.6rem = 16px, etc.)
$line-height: 1.5;
$font-color: #000;
$p-margin: 20px 0;
$public: "/app/themes/template/public"; // Full path is useful when using custom font-face and critical CSS to resolve path


// Font Weight
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;


// Screen sizes variables
$screen-sm: 600px;
$screen-md: 900px; // If 768 px used, rather use 767 for portrait display on iPad
$screen-lg: 1200px;


// Container variables
$container-breakpoint: $screen-md;
$container-max-width: $screen-lg;
$container-gutter: 10px;  // Inner padding on each side of a column to create gutters
