@import "../_settings";
$hamburger-layer-color: #fff;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-width: 36px;
$hamburger-types: (
	collapse,
);
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers";

.hamburger {
	@media only screen and (min-width: $screen-md) {
		display: none;
	}
}
