@import "../../node_modules/swiper/css/swiper";
@import "../_settings";

.hero {
}

.hero-swiper-slide {
	align-items: center;
	justify-content: center;
	display: flex;
	height: 200px;
	background: green;
}
