/**
 * Post Edit Link
 */

@import "../global/_variables";
@import "../global/_buttons";

.post-edit-link,
.edit-link a {
	@extend .button;
	padding: 6px 20px;
	margin: 20px 0;
	font-size: 1.6rem;
	background-color: red;

	&:hover {
		background: transparent;
		background-color: blue;
	}
}
