/**
 * Post Edit Link
 */

@import "../_variables";
@import "../_buttons";

.post-edit-link,
.edit-link a,
.tablepress caption a {
	@extend .button;
	padding: 6px 20px;
	margin: 20px 0;
	font-size: 1.6rem;
	background-color: red;

	&:hover {
		background: transparent;
		background-color: blue;
	}
}
